In [1]:
cd /Users/lduque/Desktop/myProjects/moneyManager/

/Users/lduque/Desktop/myProjects/moneyManager

In [2]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np

In [3]:
A = pd.DataFrame({'v':[1,2,3]}, index=[1,2,3])
B = pd.DataFrame({'B':[1,20,3]}, index=[1,20,3])
idx = A.index.intersection(B.index)
A.loc[idx]
B.loc[idx]

   B
1  1
3  3

In [9]:
s = pd.Series([True,True, False, False, True])

In [10]:
s

0     True
1     True
2    False
3    False
4     True
dtype: bool

In [11]:
s[s==True]

0    True
1    True
4    True
dtype: bool

In [15]:
A = {'A':5, 'B':9, 'D':6}

In [18]:
[a for a in A.values()]

[5, 9, 6]