In [5]:
cd /Users/lduque/Desktop/myProjects/moneyManager/

/Users/lduque/Desktop/myProjects/moneyManager

In [47]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from loadData.loadTimeSeries import loadTimeSeries
from stockModel.createTrainingDataSet import _createFeaturesFromTimeSeries

In [11]:
pastStarts=5
currentTime = datetime(2019,1,2,14,40)
print('currentTime ', currentTime)
dt = loadTimeSeries('GS', pastStarts+1, currentTime)
dt['date']=dt.index
X = _createFeaturesFromTimeSeries(dt, pastStarts)

currentTime  2019-01-02 14:40:00

In [12]:
dt

,open,high,low,close,volume,consolidated,date
date,,,,,,,
2019-01-02 14:34:00,161.080,161.286,160.806,161.178,8973.0,161.08750,2019-01-02 14:34:00
2019-01-02 14:35:00,161.207,161.276,160.698,160.982,8727.0,161.04075,2019-01-02 14:35:00
2019-01-02 14:36:00,160.962,161.276,160.639,161.134,16163.0,161.00275,2019-01-02 14:36:00
2019-01-02 14:37:00,161.100,161.633,161.100,161.560,4900.0,161.34825,2019-01-02 14:37:00
2019-01-02 14:38:00,161.560,162.192,161.433,162.192,11183.0,161.84425,2019-01-02 14:38:00
2019-01-02 14:39:00,162.148,162.256,161.570,161.911,10427.0,161.97125,2019-01-02 14:39:00

In [16]:
D = X.date.values[0]

In [19]:
D

[NaT, NaT, NaT, NaT, NaT, Timestamp('2019-01-02 14:34:00')]

In [32]:
[d for d in D if pd.notnull(d)]

[Timestamp('2019-01-02 14:34:00')]

In [37]:
hasNulls= lambda x: len([t for t in x if pd.isnull(t)])>0
correctLen = lambda x: False if hasNulls(x) else (x[-1] - x[0]).minutes == len(x) - 1

In [46]:
t1=datetime(2019,1,1,1,1,1)
t2=datetime(2019,1,2,1,1,5)
(t2-t1).seconds//60

0

In [49]:
timedelta(minutes=1)

datetime.timedelta(0, 60)